<launch>

  <param name="use_sim_time" value="false" />

  <!-- Set the name of the map yaml file: can be overridden on the command line. -->
  <arg name="map" default="lamda327_map.yaml" />

  <!-- Run the map server with the desired map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find exbotxi_nav)/maps/$(arg map)"/>

  <!-- The move_base node -->
  <arg name="move_base_group" default="$(optenv MOVE_BASE_GROUP default)" />
  <include file="$(find exbotxi_nav)/launch/includes/move_base.launch.xml">
    <arg name="move_base_group" value="$(arg move_base_group)" />
  </include>
    
  <!-- Run fake localization compatible with AMCL output -->
  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen" />

  <!-- For fake localization we need static transform between /odom and /map -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />

</launch>
