<launch>
  <arg name="move_base_group" default="$(optenv MOVE_BASE_GROUP default)" />
  
  <include file="$(find exbotxi_nav)/launch/includes/gmapping.launch.xml">
    <arg name="move_base_group" value="$(arg move_base_group)"/>
  </include>
  <include file="$(find exbotxi_nav)/launch/includes/move_base.launch.xml">
    <arg name="move_base_group" value="$(arg move_base_group)"/>
  </include>
</launch>
