<launch>
  <arg name="base"       default="create"/>
  <arg name="stacks"     default="circles"/>
  <!-- kinect, asus_xtion_pro -->
  <arg name="3d_sensor"  default="$(optenv TURTLEBOT_3D_SENSOR asus_xtion_pro)"/>
  <arg name="simulation" default="$(optenv TURTLEBOT_SIMULATION false)"/>
  
  <param name="/use_sim_time" value="$(arg simulation)" />
  
  <!-- Load the URDF/Xacro model of our robot -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find exbotxi_description)/urdf/exbotxi.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam command="delete" param="/arbotix" />
    <rosparam file="$(find exbotxi_bringup)/config/fake_irobot_create_arbotix.yaml" command="load" />
    <param name="sim" value="true"/>
    <remap from="/cmd_vel" to="/mobile_base/commands/velocity"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
  </node>
  
</launch>
