<launch>
  <arg name="mobile_base" default="$(optenv MOBILE_BASE create)"/>
  <!-- create, kobuki -->
  <arg name="base_port" default="$(optenv BASE_PORT /dev/ttyUSB0)"/>
  <!-- /dev/ttyUSB0, /dev/ttyS0 -->
  
  <param name="/use_sim_time" value="false"/>
  
  <!-- mobile base setting -->
  <include file="$(find exbotxi_bringup)/launch/includes/$(arg mobile_base)/mobile_base.launch.xml">
    <arg name="base_port" value="$(arg base_port)" />
  </include>
  
  <!-- exbotxi_description -->
  <include file="$(find exbotxi_description)/launch/robot_description.launch.xml">
    <arg name="mobile_base" value="$(arg mobile_base)" />
  </include>
</launch>
