<?xml version="1.0"?>
<robot name="exbot_xi"
  xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- the distance between 200bar and botom of frame (means top of irobot create) -->
  <xacro:property name="bar_height" value="0.15" />
  
  <xacro:include filename="$(find exbotxi_description)/urdf/irobot_create.urdf.xacro"/>
  <!-- want to change a skin of irobot create? create1 or create2 -->
  <create2/>
  
  <xacro:include filename="$(find exbotxi_description)/urdf/exbotxi_body.urdf.xacro"/>
  <xacro:include filename="$(find exbotxi_description)/urdf/xtion_pro.urdf.xacro"/>
</robot>