<?xml version="1.0"?>
<robot name="exbotxi_body"
  xmlns:xacro="http://ros.org/wiki/xacro">
  
  <joint name="base_frame_joint" type="fixed">
    <origin xyz="0 0 0.06116" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="base_frame" />
  </joint>
  
  <link name="base_frame">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://exbotxi_description/meshes/base_frame.STL" />
      </geometry>
      <material name="al">
        <color rgba="0.7 0.7 0.7 1" />
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://exbotxi_description/meshes/base_frame.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint name="frame_200bar_joint" type="fixed">
    <origin xyz="0.03748 0 ${bar_height}" rpy="0 0 0" />
    <parent link="base_frame" />
    <child link="200bar" />
  </joint>
  
  <link name="200bar">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://exbotxi_description/meshes/200_bar.STL" />
      </geometry>
      <material name="al" />
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://exbotxi_description/meshes/200_bar.STL" />
      </geometry>
    </collision>
  </link>
</robot>