<?xml version="1.0"?>
<robot name="exbot_xi"
  xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="H_PI" value="1.5707963" />
  
  <xacro:include filename="$(find exbotxi_description)/urdf/properties.urdf.xacro" />
  <xacro:include filename="$(find exbotxi_description)/urdf/create_base.urdf.xacro"/>
  <xacro:include filename="$(find exbotxi_description)/urdf/create_frame.urdf.xacro"/>
  <xacro:include filename="$(find exbotxi_description)/urdf/xtion_pro.urdf.xacro"/>
</robot>