<launch>
  <arg name="cmd_vel" default="key_cmd_vel" />
  <node pkg="exbotxi_teleop" type="keyboard_teleop.py" name="keyboard_teleop"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>
  </node>
</launch>
